/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar

# Vagrant
/.vagrant/

# PHPStorm
/.idea/

# Custom Bundles
/src/
!/src/AppBundle/

# Weblication
/web/cloud/
/web/weblication/
/web/favicon.ico
/web/*-*-*-*/
/web/*-*-*-*-*/